table.form {
	padding: 5px;
	border-collapse: collapse;
}
table.form td:nth-child(1){
    text-align:right;
    padding: 5px;
    width: 30%;
}
table.form td:nth-child(2){
    text-align:left;
	padding: 5px;
}
table.multi tr:nth-child(even) {
    background-color: #f1f1c1;
}
table.multi tr:nth-child(odd) {
    background-color: #ffffff;
}
table.multi th {
    font-size:1.375em;
    border:1px solid #e9e9e9;
    background-color: #333333;
    background-color:#f1f1f1;
}